<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1.14 Alpha" package="com.mojavecreations.BeforeOurTime.MobileApp" android:installLocation="auto" android:versionCode="15">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Before Our Time" android:icon="@mipmap/icon"></application>
</manifest>